<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<table border="1" cellspacing ="5" cellpadding="5" class="listing">
  <tr>
    <td><%= f.label :name ,:class => "label"%></td>
    <td><%= f.text_field :name ,:class => "text-field",:size => 40 %></td>
  </tr>
    
  <tr>
    <td><%= f.submit %></td>
  </tr>
</table>
<% end %>



<%content_for :sidebar do%>
 <ul>
   <li>
     <%= link_to (:back) do %>
     <strong>  Back </strong>
     <%end%>
   </li>
 </ul>

<%end%>
