<%= form_for(@group,:html => {:id => "group_page",:class => "group_page"}) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<table class="listing" border="0" cellspacing ="0" cellpadding="0">
  <thead>
     <tr> <td colspan= "2"> Group Form </td> </tr> 
  </thead>
  <tbody>
  <tr>
    <td><%= f.label :name ,:class => "label"%></td>
    <td><%= f.text_field :name ,:class => "text-field",:size => 30 %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.submit %></td>
  </tr>
 </tbody> 
</table>
<% end %>



<%content_for :sidebar do%>
 <ul>
   <li>
     <%= link_to (:back) do %>
     <strong>  Back </strong>
     <%end%>
   </li>
 </ul>

<%end%>
