<%= form_for(@group_website) do |f| %>
  <% if @group_website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_website.errors.count, "error") %> prohibited this group_website from being saved:</h2>

      <ul>
      <% @group_website.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id  %><br />
    <%= f.text_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :website_id %><br />
    <%= f.text_field :website_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%content_for :sidebar do%>
 <ul>
   <li>
     <%= link_to "Back",:back %>
   </li>
 </ul>

<%end%>
