<h1>Listing group_websites</h1>

<table>
  <tr>
    <th>Group</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_websites.each do |group_website| %>
  <tr>
    <td><%= group_website.group_id %></td>
    <td><%= group_website.website_id %></td>
    <td><%= link_to 'Show', group_website %></td>
    <td><%= link_to 'Edit', edit_group_website_path(group_website) %></td>
    <td><%= link_to 'Destroy', group_website, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group website', new_group_website_path %>
