<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @group_website.group_id %>
</p>

<p>
  <b>Website:</b>
  <%= @group_website.website_id %>
</p>


<%= link_to 'Edit', edit_group_website_path(@group_website) %> |
<%= link_to 'Back', group_websites_path %>
