!!! Transitional
%html
  %head 
    %title Drag and Drop Managment with Haml Engine
    = stylesheet_link_tag :all  
    = javascript_include_tag :defaults 
    = csrf_meta_tag
    = yield :head 
  %body
  
    %div#container_16
      %div#header
        %h1== #{controller_name.upcase} #{controller.action_name.capitalize} Page  
        
    %div#body
      %div#main-content
        = yield
      %div#sidebar   
        = yield :sidebar
        
    %div#footer 
      Drag & Drop Example              
